# Exercise Solutions

In [1]:
import pandas as pd

In [2]:
startup = pd.read_csv("C:/Users/Neerav/Hiren Jupyter/Startups.csv")

In [3]:
startup.head(2)

   RD_Spend  Administration  Marketing_Spend       State     Profit
0  165349.2       136897.80        471784.10    New York  192261.83
1  162597.7       151377.59        443898.53  California  191792.06

In [ ]:
# Note: Use Startup data 
# Exercise 1

# Find out the maximum profit in New York State

In [6]:
Max_profit = startup[startup.State == 'New York'].Profit.max()
print("Maximum Profit in New York is :", Max_profit)

Maximum Profit in New York is : 192261.83

In [ ]:
# Exercise 2

# Find out Min and Max Marketing Spend in California City

In [14]:
max_spend = startup[startup.State == 'California'].Marketing_Spend.max()
min_spend = startup[startup.State == 'California'].Marketing_Spend.min()

print("Maximum Marketing Spent in California is :", max_spend)
print("Minimum Marketing Spent in California is :", min_spend)

Maximum Marketing Spent in California is : 443898.53
Minimum Marketing Spent in California is : 0.0

In [ ]:
# Exercise 3

# What is the Average Marketing Expense in all states

In [15]:
startup.groupby("State").Marketing_Spend.mean()

State
California    182540.929412
Florida       247323.551250
New York      205346.015882
Name: Marketing_Spend, dtype: float64